#dropped-cards {
  position: absolute;
  top: 0;
  right: 1%;
  min-width: 150px;
  height: 205px;
  background: #fff6;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
