#dropped-cards {
  position: absolute;
  top: 0;
  right: 1%;
  min-width: 150px;
  height: 205px;
  background: #fff6;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dropped-cards .player-card.swap-card {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
