#win-ready-peers {
  position: absolute;
  left: 0;
  top: 0;
  width: 78vw;
  height: 34vh;
  border: 2px solid white;
  border-top: 0;
  border-left: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding-top: 75px;
}

#win-ready-peers .peer-suite-container {
  display: flex;
  margin: 0 20px;
  padding: 0 20px;
}

#win-ready-peers .peer-suite-container.hidden {
  display: none;
}

#win-ready-peers .hand-suite .player-card {
  background-size: 2004px 800px;
  width: 70px;
  height: 175px;
  z-index: 2;
  border: 1px solid #333;
  border-radius: 10px;
}
